<mat-card>
  <mat-toolbar> Novo Pedido </mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="formulario-full">
        <input matInput placeholder="Nome" formControlName="name" />
      </mat-form-field>

      <mat-form-field class="formulario-full">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option value="null"></mat-option>
          <mat-option value="brigadeiro">Brigadeiro</mat-option>
          <mat-option value="branquinho">Branquinho</mat-option>
          <mat-option value="doce-de-leite">Doce de Leite</mat-option>
          <mat-option value="churros">Churros</mat-option>
        </mat-select>
        <input matInput/>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
